.chain-banner,
.details-banner {
  cursor: pointer;
  align-items: flex-end;
  background-color: var(--water-leaf);
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
  padding: 7px;
}

.chain-banner_-text,
.details-banner_-text {
  letter-spacing: 0;
  line-height: 25px;
  min-height: 35px;
  text-align: center;
  white-space: nowrap;
}

