.createevent-image {
  background-color: var(--gallery);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 800px;
  min-width: 1280px;
  width: 100%;
}

.page-titel_-image {
  flex: 1;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 575px;
  margin-right: 573px;
  margin-top: 54.5px;
  max-height: 51px;
  text-align: center;
  white-space: nowrap;
}

.upload {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-left: 164px;
  margin-right: 164px;
  margin-top: 73.5px;
  max-height: 322px;
  min-width: calc(100.00% - 328px);
  padding: 73px 346px;
}

.upload-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 157px;
  width: 100%;
}

.drop-image_-text {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 7px;
  min-height: 76px;
  min-width: 260px;
  text-align: center;
  white-space: nowrap;
}

.upload-button {
  background-color: var(--tower-gray);
  display: flex;
  height: 57px;
  margin-right: 2.0px;
  margin-top: 17px;
  width: 130px;
}

.upload-button_-text {
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 4.5px;
  margin-left: 10px;
  margin-right: 8px;
  margin-top: 13.5px;
  text-align: center;
  white-space: nowrap;
  width: 112px;
}

.done-button {
  background-color: var(--cerise);
  display: flex;
  flex: 1;
  margin-left: 573px;
  margin-right: 573px;
  margin-top: 147px;
  max-height: 77px;
}

.done-button_-text {
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 14.5px;
  margin-left: 20px;
  margin-right: 18px;
  margin-top: 23.5px;
  text-align: center;
  white-space: nowrap;
  width: 96px;
}

.upload-file {
  margin-top: 40px;
}