.chainofevents-mobile {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  min-width: 100%;
}

.chain-of-events-mobile_-titel {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 2.0px;
  margin-top: 34px;
  min-height: 51px;
  min-width: 328px;
  text-align: center;
  white-space: nowrap;
}

.event-chain-mobile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  position: relative;
  width: 360px;
}

