:root { 
  --black: #000000;
  --dove-gray: #707070;
  --gallery: #f0f0f0;
  --tower-gray: #a9bcc6;
  --cerise: #d83d98;
  --firefly: #0a2535;
  --water-leaf: #a0fcdb;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 15px;
  --font-size-s: 9px;
  --font-size-xl: 25px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 35px;
  --font-size-xxxxl: 50px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-black-35px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-white-50px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-semi-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-water-leaf-28px {
  color: var(--water-leaf);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-normal-black-9px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-black-40px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-medium-white-30px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-medium-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-medium-white-40px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-medium-tower-gray-30px {
  color: var(--tower-gray);
  font-family: var(--font-family-montserrat);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}

.montserrat-medium-black-25px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-semi-bold-black-50px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
}

.montserrat-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}